.back_btn {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .5rem 1rem;
    color: rgb(63, 39, 39);
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: .2s;
}

.back_btn:hover{
    transform: scale(1.05);
}