*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

body{
  background-color: #658C6F;
  padding: 3rem;
}

p{
  text-align: center;
}

a{
  text-decoration: none;
}
